/*style.css*/


html{
    font-size: 12px;
    background-color: #fafafa;
}
@media (max-width: 600px) {
  html{
    font-size: 12px;
}
}
@media (max-width: 300px) {
  html{
    font-size: 8px;
}
}
html::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}
html::-webkit-scrollbar-thumb {
background-color: #8d8c8c45;
border-radius: 10px;
}


body{

}
/*공통*/
.max-width{
    max-width: 720px;
}
.width{
    width: 100%;
}

.strong {
    font-weight: bold;
    padding-right: 2%;
}



.flex{
    display: flex;
    width: 50%;
}
.magin_top1{
    margin-top: 1%;
}

.lighter{
    font-weight: lighter
}
.column{
    flex-direction: column;
}
.font_red{
    color: red;
}
.margin_left{
    margin-left: 1%;
}
.padding_left{
    padding-left: 1%;
}
.width_100{
    width: 100%;
}
#all-container{
    max-width: 720px;
    margin: auto;
}
#head-container{
    position: fixed;
    top: 0;
    margin: auto;
}
#foot-container{
    position: fixed;
    bottom: 0;
    margin: auto;
}
#main-container{
    max-width: 720px;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 10%;
    }
#story-container{
    width: 100%;
    position: relative;
    display: flex;
    border-bottom: 1px solid #8d8c8c45;
    z-index: 1;
    overflow: auto;
    padding: 3% 0% 1% 0%;

}
.story-img{
    width: 5rem;
    height: 5rem;
    border: 3px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#444444, #444444), linear-gradient(
41deg, rgb(255 219 0) 24%, rgb(255 46 0) 69%, rgb(247 50 176) 53%);
    background-origin: border-box;
    background-clip: content-box, border-box;

}
.clicked-story-img{
    width: 5rem;
    height: 5rem;
    border: 3px solid #dedede;
    border-radius: 50%;

}
.story-wrapper{
    margin: 0 2%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bolder;
}
#story-container::-webkit-scrollbar {
    height: 0.5rem;
}
#story-container::-webkit-scrollbar-thumb {
background-color: #8d8c8c45;
border-radius: 10px;
}
#feed-container{
}
.feed-wrapper{
}
.feed-head-img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin-right: 2%;
}

.feed-head-wrapper{
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    align-items: center;
    width: 100%;
    padding: 2% 2%;
}
.feed-head-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.feed-img{
    width: 100%;
    object-fit: fill;
}
.feed-icons-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
}
.feed-icon{
    width: 2.5rem;
    height: 2.5rem;
    /*margin: 1.5%;*/
    margin-left: 2%;
    margin-top: 1%;
}

.feed-icons-wrapper{
    width: -webkit-fill-available;
    padding-left: 3%;
}
.feed-like-wrapper{
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    padding: 0 4%;
}
dialog .feed-like-wrapper{
    display: flex;
    font-size: 1.1rem;
    align-items: center;
    padding: 0 4%;
}
.feed-like-img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 2%;
}
.feed-feed-wrapper{
    display: flex;
    font-size: 1.3rem;
    flex-direction: column;
    padding: 0 4%;
    border-bottom: 1px solid #8d8c8c45;
}

.feed-time{
    font-size: 1rem;
    color: gray;
    margin: 3% 0;
    width: 14%;
    display: flex;
    justify-content: flex-end;
}
.feed-time1{
    font-size: 1rem;
    color: gray;
    margin: 3% 0;
    width: 14%;
}
.feed-msg{
    font-size: 1.5rem;
    margin: 3% 0;
}

.hidden{
    display: none;
}

.feed-right-icon{
    padding-right: 2%
}
.more-icon{
    width: 4%;
    padding-right: 2%;
}
video{
    position: absolute;
    top: 180px
}
#camerabtn{
    width: 6rem;
    height: 6rem;
    border: 3px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#ff0000, #ff0000), linear-gradient(
41deg, rgb(81 81 81 / 0%) 24%, rgb(123 123 123 / 0%) 69%, rgb(126 126 126 / 0%) 53%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    position: absolute;
    bottom: 70px;
    left: 280px;
}
#backhome{
    position: absolute;
    bottom: 76px;
    right: 68px;
    border-radius: 50px;
    width: 5rem;
    height: 5rem;
    border-color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
}
.dialog{
    width: 30rem;
    font-size: 1.2rem;
    text-align: center;
    border: 0.1px solid #8d8c8c45;
    border-radius: 25px;
    padding: 0;
}
.dialog button{
    border: 0;
    background-color: white;
    font-size: 1.2rem;
    padding-top: 2%;
    padding-bottom: 4%;
}
.dialog button:focus-visible{
    outline: 0;
}
dialog::backdrop{
    background-color: #000000e0;
}
#waiting {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  background: white;
  z-index: 2;
  opacity: 1;
}
#waiting img{
width: 5%;
height: 10%;
position: fixed;
top: 45%;
left: 47%;
}








.dropdown-content {
  display: none;
  position: absolute;
    top: 40px;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
        border-radius: 10%;
    text-align: center;
}
.dropup-content {
  display: none;
  position: absolute;
  bottom: 60px;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
        border-radius: 10%;
    text-align: center;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.show {display: block;}



@media (max-width: 1000px) {
    html::-webkit-scrollbar {
    width: 0.8rem;
    height: 0.8rem;
}
    #desk-head-container, #follow-container{
        display: none;
    }
    #head-container {
        width: 100%;
        position: fixed;
        top: 0;
        display: flex;
        border-bottom: 1px solid #8d8c8c45 ;
        justify-content: space-between;
        align-items: center;
        z-index: 4;
        background-color: #ffffff;
        max-width: 720px;
        max-height: 80px;
    }
    #waiting img{
    width: 10%;
    height: 10%;
    position: fixed;
    top: 45%;
    left: 45%;
    }
    .logo-icon {
        width: 20%;
        margin: 2%;
    }

    .side-head-icon {
        width: 5%;
    }

    .left-head-icon {
        margin-right: 10%;
    }

    #foot-container {
        width: 100%;
        position: fixed;
        bottom: 0;
        display: flex;
        background-color: #ffffff;
        justify-content: space-around;
        border-top: 1px solid #8d8c8c45;
        max-width: 720px;
        z-index: 3;
        max-height: 80px;
        align-items: center;
    }
    .profile {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    }

    .foot-icon {
        width: 5%;
        margin: 3% 0;
    }
}
@media (max-width: 600px) {
    .profile{
    width: 3rem;
    height: 3rem;
}
}
@media (min-width: 1000px){
    #all-container{
        position: relative;
        left: 0px;
    }
    #head-container{
        display: none;
    }
    #foot-container{
        display: none;
    }
    #desk-head-container{
        width: 100%;
        height: 80px;
        border-bottom: 1px solid #8d8c8c45;
        position: fixed;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: -webkit-fill-available;
        background-color: #ffffff;
        z-index: 4;
    }
    #desk-head-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    #desk-head-container .logo-icon{
        width: 145px;
        position: relative;
        left: -210px;
        height: 50px;
    }
    #desk-head-container .icon{
        width: 10%;
    }
    #desk-search{
        position: relative;
        left: 20px;
    }
    #desk-search input {
        background-image: url(/static/img/search@3x.png);
        background-position: 6px;
        background-repeat: no-repeat;
        background-size: 25px 25px;
        opacity: 0.5;
        padding: 3% 0 3% 20%;
        font-size: 1rem;
        height: 20px;
        width: 200px;
        border-width: 1px;
        border-color: #acb3b961;
        border-radius: 5px;
    }
    #desk-search input:focus-visible{
        outline: none;
    }

    #head-icons{
        width: 250px;
        position: relative;
        right: -210px;
        display: flex;
        text-align: center;
        justify-content: space-evenly;
    }

    #story-container{
        padding: 3% 0% 1% 0%;
        border: 1px solid #8d8c8c45;
        margin: 5% 0;
        border-radius: 5px;
    }
    #main-container{
        width: 100%;
        padding: 30px 0 0 0;
        max-width: 720px;
        margin:auto;
        display: flex;
        position: relative;
    }
    .feed-wrapper{
        border: 1px solid #8d8c8c45;
        margin: 5% 0;
        border-radius: 5px;
    }
    .feed-icon:hover{
    opacity: 0.5;
    }
    .profile {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    }
    #follow-container{
        position: absolute;
        top: 100px;
        right: -330px;
        width: 290px;
    }
    #follow-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #follow-people{
    }
    #follow-people .container{
        display: flex;
        justify-content: space-between;
        margin: 5% 0;
    }
    #follow-people .wrapper{
        display: flex;
        font-size: 1.2rem;
    }
    #follow-people .icon{
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }
    #follow-wrapper p{
        color: #8e8e8e;
        font-size: 1.2rem;
    }
    #follow-people .container .wrapper p{
        font-size: 1rem;
        color: #8e8e8e;
        width: max-content;
        padding-top: 3%;
        margin: 0;
    }
    #follow-people .container p{
        color: #0f9bf6;
        font-weight: 900;
        font-size: 1rem;
    }
}

p {
    font-family: 'Oswald', sans-serif;
}
.title {
    font-weight: 400;
}

#feed_write_dialog{
    width: fit-content;
    height: 80%;
    border:none;
    border-radius: 2%;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
}

#feed_write_dialog p, span, label, textarea{
    font-family: 'Noto Sans KR', sans-serif;
}

#feed_write_dialog .header_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1%;
    border-bottom: 1px solid gray;
}

#feed_write_dialog .pic_icon {
    text-align: center;
}

#feed_write_dialog img.upload_icon {
    width: 70%;
}


#feed_write_dialog .upload_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 50vw;
    justify-content: center;

}

#feed_write_dialog .ex_text{
    height: 10%;
    font-size: 2rem;
}

#feed_write_dialog .pic_icon {
    margin-bottom: 4%;
}

#feed_write_dialog .upload_form {
    height: 10%;
    width: 22%;
    padding-left: 5%;
}

#feed_write_dialog .choice_btn{
    width: 130px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: #0094f5;
    border-radius: 5px;
    padding: 5px 0 5px 0;
}

#feed_write_dialog #uf_three input{
    visibility: visible;
}

#feed_write_dialog #select_file{
    display: none;
}


#feed_write_dialog .conten_container{
    display: flex;
    flex-direction: row;
    height: -webkit-fill-available;
}

#feed_write_dialog .wf_user_info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


#feed_write_dialog img.user_img {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    border: lightgray 1px solid;
}

#feed_write_dialog .textarea_box {
    width: 20vw;
    height: 30vh;
    padding-top: 5%;
}

#feed_write_dialog .textarea_box:focus {
    outline: none;
}

#feed_write_dialog .text_content {
    width: 90%;
    height: 90%;
    border: none;
}

#feed_write_dialog .etc_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#feed_write_dialog .side {
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
}

#feed_write_dialog .next, .share{
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bolder;
    color: #3a80ff;
    padding-right: 1%;
}
#feed_write_dialog .arrow{
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    padding-left: 1.5%;
    padding-top: 0.3%;
}

#feed_write_dialog .text_content:focus{
    outline: none;
}

#feed_write_dialog .title {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 25%;
}

#feed_write_dialog .this-dialog{
    width: 70%;
    height: 80%;
    border:none;
    border-radius: 2%;

}
.this-dialog{
    width: 70%;
    height: 80%;
    border:none;
    border-radius: 2%;
    overflow: hidden;
}
.this-dialog p, span, label, textarea{
    font-family: 'Noto Sans KR', sans-serif;
}

.this-dialog .comment_wrap{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    flex: 0;
}

.this-dialog .feed_pic {
    width: 70%;
    overflow: hidden;
    display: flex;
    align-items: center;
}


.this-dialog .header_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2%;
}

.this-dialog .pic_icon {
    text-align: center;
}

.this-dialog img.upload_icon {
    width: 70%;
}

.this-dialog #second_part{
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1%;

}

.this-dialog .feed_list{
    padding-left: 0;
}

.this-dialog .feed_content{
    display: flex;
    flex-direction: row;
    flex: 1;
}


.this-dialog .ex_text{
    height: 10%;
    font-size: 2rem;
}

.this-dialog .pic_icon {
    margin-bottom: 4%;
}

.this-dialog .upload_form {
    height: 10%;
    width: 22%;
}

.this-dialog .content_container{
    display: flex;
    flex-direction: row;
    height: -webkit-fill-available;
}

.this-dialog .wf_user_info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5%;
    flex: 0 0 auto;
}

.this-dialog .wf_user_profile {
    padding-right: 3%;
}

.this-dialog img.user_img {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    border: lightgray 1px solid;
    margin: 1%
}
.this-dialog span.user_name {
    font-size: 1.3rem;
    font-weight: bold;
}

.this-dialog .etc_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.this-dialog .share{
    cursor: pointer;
    width: 12%;
}


.this-dialog .comment{
    border: none;
    padding-left: 3%;
}
.this-dialog .comment:focus{
    outline: none;
}


.this-dialog .comment_part{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 10%;
    flex: 1;

}

.this-dialog .footer{
    display: flex;
    flex-direction: column;
    flex: 0;
    padding-bottom: 2%;
}
@media (max-width:720px){
    .this-dialog{
        width: auto;
    }
    .this-dialog .container_wrap{
        display: block;
    }
    .this-dialog .feed_pic{

        width: 50%;
    }
    .this-dialog .write_part{

        width: 50%;
    }
}

dialog .etc_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5%;

}



dialog .feed-time {
    font-size: 1rem;
    width: 30%;

}
dialog .feed-icon{
    margin-left: 1%;
    margin-top: 0.5%;
}

dialog .feed-icons-wrapper > img {
    width: 1.2vw;
    height: 1.2vw;
}

dialog .feed-icons-wrapper.flex {
    padding: 0;
}

dialog .feed-like-wrapper {
    padding: 0;
}

dialog .user_id a{
    text-decoration: none;
    outline: none;
}

dialog .user_id a:visited{
    color: black;
    text-decoration: none;
}

dialog .wf_comment_info{
    display: flex;
    flex-direction: column;
    height: 90%;
}

dialog {
    --heart-icon-size:13px;
}


.comment_write_space{
    border: none;
    width: 100%;
    background-color: transparent;
    margin-left: 2px;

}

.comment_write_space:focus{
    outline: none;
}


#comment-button {
    border: none;
    background-color: transparent;
    color: cornflowerblue;
flex-basis: 7%;

}

/*댓글클릭시아웃라인숨김*/
dialog .comment-write-wrapper input:focus {
    outline: none;
}

dialog .comment_wrapper button {
    border: none;
    background-color: transparent;
    color: gray;
}



div#dl_write_part {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1%;
}

.dl_comment_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    padding-left: 1%;
}


dialog .comment_wrapper button {
    cursor: pointer;
}

.comment_wrapper div:nth-child(2) {
    flex-basis: 270px;
}

dialog .comment_wrapper div:nth-child(3) {
    flex-basis: 230px;
}

dialog .comment_wrapper div:nth-child(4) {
    flex-basis: 140px;
}

dialog .feed_content span {
    font-size: 1.3rem;
}

/*다이얼로그x버튼*/
dialog .close_btn {
    padding-left: 70%;
    cursor: pointer;
}

#camera_dialog{
    width: 100%;
    height: 100%;
}
#camera_dialog #btns{
    margin: 5%;
}
#camera_feed{
    width: 35%;
    height: 80px;
    margin-top: 4%;
}
#camera_dialog button{
    border: none;
    background-color: transparent;
    color: gray;
}
#output-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}