<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Title</title>

    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/{{ html }}.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!--구글폰트(/write_feed)-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap" rel="stylesheet">

</head>
<body>
<div id="waiting">
    <img src="https://d33wubrfki0l68.cloudfront.net/1d3a7ce32c8fe7b94d7237da407a68f0d3026575/57855/1484.gif">
</div>
<div id="desk-head-container">
    <div id="desk-head-wrapper">
        <img class="logo-icon" src="/static/img/insta-logo.png" onclick="load()"/>
        <div id="desk-search">
            <input placeholder="검색">
        </div>
        <div id="head-icons">
            <img class="icon" src="/static/img/home@3x.png" onclick="go_main()"/>
            <img class="icon" src="/static/img/search@3x.png" onclick="go_recipe()"/>
            <img class="icon dropdbtn" src="/static/img/trending@3x.png" onclick="dropdownmenu()"/>
            <div id="dropdown" class="dropdown-content drop">
                <a href="#" onclick="feed_write_dialog()">피드 작성</a>
                <hr>
                <a href="/#">레시피 작성</a>
            </div>
            <img class="icon" src="/static/img/like@3x.png" onclick="go_auction()"/>
            {% if user.img == 'x' or user.img == None %}
            <img class="profile" src="/static/img/12344.gif" alt="" onclick="location.href = '/mypage/{{ user.id }}'">
            {% else %}
            <img class="profile" src="data:image/png;base64, {{ user.img }}"
                 onclick="location.href = '/mypage/{{ user.id }}'"/>
            {% endif %}
        </div>
    </div>
</div>
<div id="all-container">
    <div id="head-container">
        <img class="logo-icon" src="/static/img/insta-logo.png" onclick="load()"/>
        <img id="camera_icon" class="left-head-icon side-head-icon" src="/static/img/camera@3x.png" onclick="camera_dialog()"/>
    </div>
    <div id="foot-container">
        <img class="foot-icon" src="/static/img/home@3x.png" onclick="go_main()"/>
        <img class="foot-icon" src="/static/img/search@3x.png" onclick="go_recipe()"/>
        <img class="foot-icon dropubtn" src="/static/img/trending@3x.png" onclick="dropupmenu()"/>
        <div id="dropup" class="dropup-content drop">
            <a href="#" onclick="feed_write_dialog()">피드 작성</a>
            <hr>
            <a href="#">레시피 작성</a>
        </div>
        <img class="foot-icon" src="/static/img/like@3x.png" onclick="go_auction()"/>
        {% if user.img == 'x' or user.img == None %}
        <img class="profile" src="/static/img/12344.gif" alt="" onclick="location.href = '/mypage/{{ user.id }}'">
        {% else %}
        <img class="profile" src="data:image/png;base64, {{ user.img }}"
             onclick="location.href = '/mypage/{{ user.id }}'"/>
        {% endif %}
    </div>

    <div id="main-container">
        {% block content %}{% endblock %}
    </div>


    <!--        피드 쓰기-->


    <dialog id="feed_write_dialog">
        <div id="modal_header" class="header_box">
            <div id="_back" class="arrow" onclick="dialog_close_btn1()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                </svg>
            </div>
            <span id="header_title" class="title"> 새 게시물 만들기</span>
            <span id="_next" class="next" onclick="writeText()"> 다음 </span>
            <span id="_share" class="share" onclick="posting()"> 공유하기 </span>
        </div>
        <div class="conten_container">
            <!-- 첫번째화면 -->
            <div id="upload_box" class="upload_wrap">

                <div id="uf_one" class="pic_icon">
                    <!--                <svg id="svg_icon" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="svg_img bi bi-images" viewBox="0 0 16 16">-->
                    <!--                    <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>-->
                    <!--                    <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z"/>-->
                    <!--                </svg>-->
                    <img class="upload_icon" src="static/img/upload_icon.jpg">
                </div>
                <div id="uf_two" class="ex_text">
            <span id="up_msg" class="photo_msg">
                사진을 업로드 해 주세요
            </span>
                </div>
                <form id="uf_three" class="upload_form" method="post" enctype="multipart/form-data">
                    <div class="choice_btn">
                        <label for="select_file">
                            컴퓨터에서 선택
                        </label>
                    </div>
                    <input type="file" id="select_file" name="chooseFile" accept="image/gif,image/jpeg,image/png" onchange="loadFile(this)">
                </form>
            </div>

            <!-- 게시글영역추가 -->
            <div id="second_part" class="side">
                <div class="wf_user_info">
                    <div class="wf_user_profile">
                        {% if user.img == 'x' or user.img == None %}
                        <img class="user_img" src="/static/img/12344.gif">
                        {% else %}
                        <img class="user_img" src="data:image/png;base64, {{ user.img }}">
                        {% endif %}
                    </div>
                    <div class="user_id">
                        <span id="user_name">{{ user.nick }}</span>
                    </div>
                </div>
                <div class="textarea_box">
                    <label for="textarea"></label>
                    <textarea id="textarea"
                              placeholder="문구입력..."
                              class="text_content" maxlength="2200"
                              onkeyup="contentLength()"></textarea>
                </div>
                <div class="etc_info">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-emoji-smile" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
                    </svg>
                    <span id="max-len" class="content_length">0/2,200</span>
                </div>
            </div>
        </div>
    </dialog>


    <!--        레시피 쓰기-->

    <!--        카메라-->
    <dialog id="camera_dialog">
        <div class="camera">
            <video id="video"></video>
        </div>
        <canvas id="canvas" class="hidden">
        </canvas>
        <div id="output-wrapper">
            <div id="btns">
                <button id="startbutton">사진찍기</button>
                <button id="restart" class="hidden" onclick="camera_restart()">다시찍기</button>
                <button onclick="camera_posting('{{ user.id }}')">업로드</button>
                <button onclick="close_camera_dialog()">카메라 끄기</button>
            </div>
            <div id="output" class="hidden">
                <img id="photo">
            </div>
            <textarea id="camera_feed" class="hidden"></textarea>

        </div>
    </dialog>


</div>
<script src="/static/main.js"></script>
<script src="/static/{{ html }}.js"></script>
<script></script>

</body>
</html>