<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Title</title>

    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/{{ html }}.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!--구글폰트(/write_feed)-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap" rel="stylesheet">

</head>
<body>
<div id="waiting">
    <img src="https://d33wubrfki0l68.cloudfront.net/1d3a7ce32c8fe7b94d7237da407a68f0d3026575/57855/1484.gif">
</div>
<div id="desk-head-container">
    <div id="desk-head-wrapper">
        <img class="logo-icon" src="/static/img/insta-logo.png" onclick="load()"/>
        <div id="desk-search">
            <input placeholder="검색">
        </div>
        <div id="head-icons">
            <img class="icon" src="/static/img/home@3x.png" onclick="go_main()"/>
            <img class="icon" src="/static/img/search@3x.png" onclick="go_recipe()"/>
            <img class="icon dropdbtn" src="/static/img/trending@3x.png" onclick="dropdownmenu()"/>
            <div id="dropdown" class="dropdown-content drop">
                <a href="#" onclick="feed_write_dialog()">피드 작성</a>
                <hr>
                <a href="/#">레시피 작성</a>
            </div>
            <img class="icon" src="/static/img/like@3x.png" onclick="go_auction()"/>
            {% if user.img == 'x' or user.img == None %}
            <img class="profile" src="/static/img/12344.gif" alt="" onclick="location.href = '/mypage/{{ user.id }}'">
            {% else %}
            <img class="profile" src="data:image/png;base64, {{ user.img }}"
                 onclick="location.href = '/mypage/{{ user.id }}'"/>
            {% endif %}
        </div>
    </div>
</div>
<div id="all-container">
    <div id="head-container">
        <img class="logo-icon" src="/static/img/insta-logo.png" onclick="load()"/>
        <img id="camera_icon" class="left-head-icon side-head-icon" src="/static/img/camera@3x.png" onclick="camera_dialog()"/>
    </div>
    <div id="foot-container">
        <img class="foot-icon" src="/static/img/home@3x.png" onclick="go_main()"/>
        <img class="foot-icon" src="/static/img/search@3x.png" onclick="go_recipe()"/>
        <img class="foot-icon dropubtn" src="/static/img/trending@3x.png" onclick="dropupmenu()"/>
        <div id="dropup" class="dropup-content drop">
            <a href="#" onclick="feed_write_dialog()">피드 작성</a>
            <hr>
            <a href="#">레시피 작성</a>
        </div>
        <img class="foot-icon" src="/static/img/like@3x.png" onclick="go_auction()"/>
        {% if user.img == 'x' or user.img == None %}
        <img class="profile" src="/static/img/12344.gif" alt="" onclick="location.href = '/mypage/{{ user.id }}'">
        {% else %}
        <img class="profile" src="data:image/png;base64, {{ user.img }}"
             onclick="location.href = '/mypage/{{ user.id }}'"/>
        {% endif %}
    </div>

    <div id="main-container">
        {% block content %}{% endblock %}
    </div>


    <!--        피드 쓰기-->


    <dialog id="feed_write_dialog">
        <div id="modal_header" class="header_box">
            <div id="_back" class="arrow" onclick="dialog_close_btn1()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                </svg>
            </div>
            <span id="header_title" class="title"> 새 게시물 만들기</span>
            <span id="_next" class="next" onclick="writeText()"> 다음 </span>
            <span id="_share" class="share" onclick="posting()"> 공유하기 </span>
        </div>
        <div class="conten_container">
            <!-- 첫번째화면 -->
            <div id="upload_box" class="upload_wrap">

                <div id="uf_one" class="pic_icon">
                    <!--                <svg id="svg_icon" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="svg_img bi bi-images" viewBox="0 0 16 16">-->
                    <!--                    <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>-->
                    <!--                    <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z"/>-->
                    <!--                </svg>-->
                    <img class="upload_icon" src="static/img/upload_icon.jpg">
                </div>
                <div id="uf_two" class="ex_text">
            <span id="up_msg" class="photo_msg">
                사진을 업로드 해 주세요
            </span>
                </div>
                <form id="uf_three" class="upload_form" method="post" enctype="multipart/form-data">
                    <div class="choice_btn">
                        <label for="select_file">
                            컴퓨터에서 선택
                        </label>
                    </div>
                    <input type="file" id="select_file" name="chooseFile" accept="image/gif,image/jpeg,image/png" onchange="loadFile(this)">
                </form>
                <div id="category_wrapper">
                    <label for="category-select">카테고리</label>
                        <select name="Category" id="category-select">
                            <option value="">카테고리를 고르세요</option>
                            <option value="dog">개</option>
                            <option value="fruit">과일</option>
                            <option value="food">인도 음식</option>
                            <option value="flower">꽃</option>
                            <option value="dessert">디저트</option>
                        </select>
                </div>
            </div>

            <!-- 게시글영역추가 -->
            <div id="second_part" class="side">
                <div class="wf_user_info">
                    <div class="wf_user_profile">
                        {% if user.img == 'x' or user.img == None %}
                        <img class="user_img" src="/static/img/12344.gif">
                        {% else %}
                        <img class="user_img" src="data:image/png;base64, {{ user.img }}">
                        {% endif %}
                    </div>
                    <div class="user_id">
                        <span id="user_name">{{ user.nick }}</span>
                    </div>
                </div>
                <div class="textarea_box">
                    <label for="textarea"></label>
                    <textarea id="textarea"
                              placeholder="문구입력..."
                              class="text_content" maxlength="2200"
                              onkeyup="contentLength()"></textarea>
                </div>
                <div class="etc_info">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-emoji-smile" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
                    </svg>
                    <span id="max-len" class="content_length">0/2,200</span>
                </div>
            </div>
        </div>
    </dialog>


    <!--        레시피 쓰기-->

    <!--        카메라-->
    <dialog id="camera_dialog">
        <div class="camera">
            <video id="video"></video>
        </div>
        <canvas id="canvas" class="hidden">
        </canvas>
        <div id="camera_category_wrapper">
            <label for="camera_category-select">카테고리</label>
                <select name="Category" id="camera_category-select">
                    <option value="">카테고리를 고르세요</option>
                    <option value="dog">개</option>
                    <option value="fruit">과일</option>
                    <option value="food">인도 음식</option>
                    <option value="flower">꽃</option>
                    <option value="dessert">디저트</option>
                </select>
        </div>
        <div id="output-wrapper">
            <div id="btns">
                <button id="startbutton">사진찍기</button>
                <button id="restart" class="hidden" onclick="camera_restart()">다시찍기</button>
                <button onclick="camera_posting('{{ user.nick }}')">업로드</button>
                <button onclick="close_camera_dialog()">카메라 끄기</button>
            </div>
            <div id="output" class="hidden">
                <img id="photo">
            </div>
            <textarea id="camera_feed" class="hidden"></textarea>

        </div>
    </dialog>


</div>

<div id="ai_div" class="visibility_hidden">
    <div id="ai_close_btn" class="ai_close_btn" onclick="ai_close_btn()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
        <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
        </svg>
    </div>
    <!-- Google Chrome -->
<div class="infinityChrome">
    <div></div>
    <div></div>
    <div></div>
</div>
<div>
<!-- Safari and others -->
<div class="infinity">
    <div>
        <span></span>
    </div>
    <div>
        <span></span>
    </div>
    <div>
        <span></span>
    </div>
</div>

<!-- Stuff -->
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="display: none;">
    <defs>
        <filter id="goo">
            <feGaussianBlur in="SourceGraphic" stdDeviation="6" result="blur" />
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
            <feBlend in="SourceGraphic" in2="goo" />
        </filter>
    </defs>
</svg>

<!-- dribbble -->
<a class="dribbble" href="https://dribbble.com/shots/5557955-Infinity-Loader" target="_blank"><img src="https://cdn.dribbble.com/assets/dribbble-ball-mark-2bd45f09c2fb58dbbfb44766d5d1d07c5a12972d602ef8b32204d28fa3dda554.svg" alt=""></a>
</div>
<div>
<p class="ai_text">안녕하세요</p>
</div>
</div>


<script src="/static/main.js"></script>
<script src="/static/{{ html }}.js"></script>
<script>
    let blue = false

    window.SpeechRecognition =
    window.SpeechRecognition || window.webkitSpeechRecognition;

    // 인스턴스 생성
    const recognition = new SpeechRecognition();

    // true면 음절을 연속적으로 인식하나 false면 한 음절만 기록함
    recognition.interimResults = true;
    // 값이 없으면 HTML의 <html lang="en">을 참고합니다. ko-KR, en-US
    recognition.lang = "ko-KR";
    // true means continuous, and false means not continuous (single result each time.)
    // true면 음성 인식이 안 끝나고 계속 됩니다.
    recognition.continuous = false;
    // 숫자가 작을수록 발음대로 적고, 크면 문장의 적합도에 따라 알맞은 단어로 대체합니다.
    // maxAlternatives가 크면 이상한 단어도 문장에 적합하게 알아서 수정합니다.
    recognition.maxAlternatives = 10000;


    let speechToText = "";


    recognition.addEventListener("result", (e) => {
    let interimTranscript = "";
    let last = ''
    for (let i = e.resultIndex, len = e.results.length; i < len; i++) {
        let transcript = e.results[i][0].transcript;
        console.log('transcript',transcript);
        last = transcript

        if (e.results[i].isFinal) {
        speechToText += transcript;
        } else {
        interimTranscript += transcript;
        }
    }
    console.log('speechToText',speechToText);
    console.log('interimTranscript',interimTranscript);
    document.querySelector(".ai_text").innerText= last;
    if (interimTranscript == '블루' && blue == false) {
    document.getElementById('ai_div').classList.remove('visibility_hidden')
    console.log('블루 켜짐!')
    blue = true
    setTimeout(() => speak('안녕하세요'), 1000);
}
    });

    // 음성인식이 끝나면 자동으로 재시작합니다.


    recognition.addEventListener("end", (e) => {
    // recognition.start();
    console.log('bye')
    let ai_text = document.querySelector(".ai_text")
    console.log(ai_text.innerText)
    if (blue === true){
    switch (ai_text.innerText) {
        // case "블루":
        //   break
        case "카메라 켜 줘":
        case "카메라 켜줘":
            console.log('카메라 켜짐!')
            setTimeout(() => speak('카메라를 작동합니다'), 1000);
            ai_close_btn()
            camera_dialog()
            document.getElementById('camera_icon').click();
            break
        case "사진 찍어 줘":
            speak('사진을 촬영합니다')
            ai_close_btn()
            document.getElementById('startbutton').click();

            break
        case '다시 찍어 줘':
            speak('다시 촬영합니다')
            ai_close_btn()
            camera_restart()
            break
        case '사진 올려 줘':
            speak('게시물을 업로드합니다')
            ai_close_btn()
            // setTimeout(() => {console.log("업로드중")}, 5000);
            camera_posting('{{ user.nick }}')
            break
        case '카메라 꺼 줘':
            speak('카메라를 종료합니다')
            ai_close_btn()
            close_camera_dialog()
            break
        case "마이 페이지 가줘":
        case "마이 페이지가 줘":
            console.log('마이페이지 가짐!')
            setTimeout(() => speak('마이페이지로 이동합니다'), 1000);
            ai_close_btn()
            location.href = '/mypage/{{ user.id }}'
            break
        case "메인 페이지 가줘":
        case "메인 페이지가 줘":
            console.log('메인페이지 가짐!')
            setTimeout(() => speak('메인페이지로 이동합니다'), 1000);
            ai_close_btn()
            location.href = '/'
            break
        case "업로드 해줘":
        case "업로드 해 줘":
            console.log('업로드 해짐!')
            speak('피드를 업로드합니다')
            // setTimeout(() => {console.log("업로드중")}, 5000);
            ai_close_btn()
            posting()
            break
        case "게시물작성가 줘":
        case "게시물작성 가줘":
        case "게시물 작성 해줘":
        case "게시물 작성해 줘":
            console.log('피드작성 가짐!')
            speak('피드 작성 페이지로 이동합니다')
            ai_close_btn()
            feed_write_dialog()
            break
        case '카테고리 과일':
            speak('카테고리를 과일로 변경합니다')
            document.getElementById("category-select").value = 'fruit'
            document.getElementById("camera_category-select").value = 'fruit'
            ai_close_btn()
            break
        case '카테고리 개':
            speak('카테고리를 개로 변경합니다')
            document.getElementById("category-select").value = 'dog'
            document.getElementById("camera_category-select").value = 'dog'
            ai_close_btn()
            break
        case '카테고리 인도음식':
            speak('카테고리를 인도음식으로 변경합니다')
            document.getElementById("category-select").value = 'food'
            document.getElementById("camera_category-select").value = 'food'
            ai_close_btn()
            break
        case '카테고리 꽃':
            speak('카테고리를 꽃으로 변경합니다')
            document.getElementById("category-select").value = 'flower'
            document.getElementById("camera_category-select").value = 'flower'
            ai_close_btn()
            break
        case '카테고리 디저트':
            speak('카테고리를 디저트로 변경합니다')
            document.getElementById("category-select").value = 'dessert'
            document.getElementById("camera_category-select").value = 'dessert'
            ai_close_btn()
            break
        case '새로고침 해 줘':
            speak('페이지를 새로고침합니다')
            window.location.reload()
            break
        case '안녕':
            setTimeout(() => speak('안녕하세요 {{ user.nick }}님'), 1000);
            break
        case '누가 만들었어':
        case '너는 누가 만들었어':
            setTimeout(() => speak('홍채영님이 만들었습니다'), 1000);
            break
        case '너는 누구야':
        case '누구야':
            setTimeout(() => speak('저는 블루 입니다'), 1000);
            break
        case '블루 사라져':
        case '사라져':
            speak('안녕히 계세요')
            ai_close_btn()
    }
    }
    recognition.start()

});

    // 음성 인식 시작
    recognition.start();


</script>



</body>
<!-- Copyright (c) 2022 by Aaron Iker (https://codepen.io/aaroniker/pen/MzoXaZ)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. -->


</html>